@import './variables.scss';

.gradient-custom-2 {
  /* fallback for old browsers */
  background: $primary;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, $primary, #0273ba);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, $primary, #0273ba);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}