{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="{{ asset('images/404.gif') }}" style="width: 30%">
        <p class="h2 my-3">404</p>
        <p class="h4 my-1">Page introuvable</p>
        <a href="{{ path('app_game_list') }}" class="btn btn-outline-primary mt-3">Retour à l'accueil</a>
    </div>

{% endblock %}
